scenario2_flow
[{"id":"cb2681d9.e06e7","type":"ibmiot in","z":"46a8fde6.ecb814","authentication":"apiKey","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"collisionAlert","commandType":"collisionAlert","format":"json","name":"collisionAlert","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":"","x":122.83941650390625,"y":739.28173828125,"wires":[["1421441.a0435bc","2b296f5a.83e5c"]]},{"id":"1421441.a0435bc","type":"debug","z":"46a8fde6.ecb814","name":"collisionAlert payload","active":true,"console":"false","complete":"payload","x":355.4463348388672,"y":740.3531494140625,"wires":[]},{"id":"438f247d.371c8c","type":"function","z":"46a8fde6.ecb814","name":"build post-collision command","func":"var collisionSeverity = msg.payload.collisionSeverity;\n\nvar collisionDelay = 35000;\nif (collisionSeverity == \"MEDIUM\"){\n    collisionDelay = 45000;\n} else if (collisionSeverity == \"SEVERE\"){\n    collisionDelay = 60000;\n}\n\nvar vehicle1 =  context.global.get(\"collisionVehicle1\");\nvar vehicle2 =  context.global.get(\"collisionVehicle2\");\n\nvar setPropertyForVehicle1Msg = {\n        deviceId: context.global.get(\"collisionDevice1Id\"),\n        deviceType: \"vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle1.id,\n               \"property\": \"collisionDelay\",\n               \"value\": collisionDelay\n        })\n}\n\nvar setPropertyForVehicle2Msg = {\n        deviceId: context.global.get(\"collisionDevice2Id\"),\n        deviceType: \"vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle2.id,\n               \"property\": \"collisionDelay\",\n               \"value\": collisionDelay\n        })\n}\n\nvar text = collisionSeverity + \" accident\";\nvar medicalAttentionNeeded = msg.payload.medicalAttentionNeeded;\nif (medicalAttentionNeeded == true){\n    text= text + \", call EMT\";\n}\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle1.id,\n               \"text\": text,\n               \"duration\": 3000\n        })\n}\n\nreturn [ [addOverlayMsg, setPropertyForVehicle1Msg, setPropertyForVehicle2Msg] ];\n","outputs":1,"noerr":0,"x":674.3329925537109,"y":1203.7422485351562,"wires":[["c677f4fc.d555c8"]]},{"id":"24bd7e2a.2823d2","type":"debug","z":"46a8fde6.ecb814","name":"post-collision command","active":false,"console":"false","complete":"true","x":1125.120101928711,"y":1204.5757446289062,"wires":[]},{"id":"1f623fe4.bbc41","type":"ibmiot out","z":"46a8fde6.ecb814","authentication":"apiKey","apiKey":"","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"post-collision command","service":"registered","x":1127.9400024414062,"y":1248.4924716949463,"wires":[]},{"id":"e9192b3.0ad64d8","type":"function","z":"46a8fde6.ecb814","name":"save collision vehicles info","func":"//msg.payload.vehicleId = msg.payload.vehicleId;\n//msg.payload.deviceId = msg.payload.vehicleId.substring(0,3);\n\n//delete msg.payload.trafficZone;\ncontext.global.set(\"collisionVehicle1\",msg.payload.vehicle1);\n// TODO: get deviceID by searching for '-'\n//context.global.set(\"collisionDevice1Id\",msg.payload.vehicle1.id.substring(0,3));\ncontext.global.set(\"collisionDevice1Id\",msg.payload.vehicle1.id.split(\"-\")[0]);\n\n\ncontext.global.set(\"collisionVehicle2\",msg.payload.vehicle2);\n// TODO: get deviceID by searching for '-'\n//context.global.set(\"collisionDevice2Id\",msg.payload.vehicle2.id.substring(0,3));\ncontext.global.set(\"collisionDevice2Id\",msg.payload.vehicle2.id.split(\"-\")[0]);\n\n\ndelete msg.payload.eventType;\ncontext.global.set(\"rulesInputParameters\", msg.payload);\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":468.39573669433594,"y":798.8054809570312,"wires":[["e3e7f0ff.8c785"]]},{"id":"567b37f3.0f5ee8","type":"function","z":"46a8fde6.ecb814","name":"build Collision rules input","func":"msg.payload = {};\nmsg.payload.healthSentiment=context.global.get(\"sentiment\");\nvar vehicle1 =  context.global.get(\"collisionVehicle1\");\nvar vehicle2 =  context.global.get(\"collisionVehicle2\");\nmsg.payload.vehicle1SpeedAtCollision = vehicle1.customProps.speedAtCollision;\nmsg.payload.vehicle2SpeedAtCollision = vehicle2.customProps.speedAtCollision;\nreturn msg;\n","outputs":1,"noerr":0,"x":185.06216430664062,"y":1204.0558471679688,"wires":[["aa987453.73c1d8","31b71f91.88838"]]},{"id":"31b71f91.88838","type":"http request","z":"46a8fde6.ecb814","name":"Collision rules","method":"POST","ret":"obj","url":"ruleset_url","x":432.3123016357422,"y":1204.0557250976562,"wires":[["438f247d.371c8c","e26ed61.abd2b28"]]},{"id":"aa987453.73c1d8","type":"debug","z":"46a8fde6.ecb814","name":"collision rules input","active":false,"console":"false","complete":"payload","x":211.38189697265625,"y":1254.4087524414062,"wires":[]},{"id":"2b296f5a.83e5c","type":"switch","z":"46a8fde6.ecb814","name":"Collision occurred","property":"payload.eventType","propertyType":"msg","rules":[{"t":"eq","v":"Collision occurred","vt":"str"}],"checkall":"true","outputs":1,"x":186.83340454101562,"y":800.361083984375,"wires":[["e9192b3.0ad64d8","4b4500cc.4714e"]]},{"id":"d6364e84.fc71d","type":"http request","z":"46a8fde6.ecb814","name":"Watson AlchemyAPI sentiment analysis","method":"POST","ret":"obj","url":"","x":665.3699798583984,"y":990.2501220703125,"wires":[["11ddf778.e87749","5eec0039.b0d45","bbd45591.130598"]]},{"id":"11ddf778.e87749","type":"function","z":"46a8fde6.ecb814","name":"save sentiment","func":"var sentiment = \"\";\nif (!msg.payload.status || msg.payload.status == \"ERROR\")\n   sentiment= \"neutral\";\nelse \n   sentiment = msg.payload.docSentiment.type;\ncontext.global.set(\"sentiment\",sentiment);\n\n// reset msg\ndelete msg;\nmsg = {};\nreturn msg;\n","outputs":1,"noerr":0,"x":669.7173461914062,"y":1054.1632804870605,"wires":[["567b37f3.0f5ee8"]]},{"id":"392161d6.0f295e","type":"function","z":"46a8fde6.ecb814","name":"build sentiment analysis URL","func":"var text1 = msg.payload.vehicle1.customProps.answer;\nvar text2 = msg.payload.vehicle2.customProps.answer;\nvar text = text1 + \". \"+ text2;\ntext = encodeURI(text);\nvar apikey = \"alchemy_api_key\";\nmsg.url=\"http://gateway-a.watsonplatform.net/calls/text/TextGetTextSentiment?apikey=\"+ apikey + \"&text=\"+ text+\"&outputMode=json&showSourceText=1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":711.0364837646484,"y":903.8610229492188,"wires":[["d6364e84.fc71d"]]},{"id":"50e27352.3e216c","type":"ibmiot out","z":"46a8fde6.ecb814","authentication":"apiKey","apiKey":"","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"vehicle1 health overlay","service":"registered","x":1388.159767150879,"y":760.1109285354614,"wires":[]},{"id":"fdf429d6.f53248","type":"function","z":"46a8fde6.ecb814","name":"build vehicle1 health overlay","func":"var vehicle1 = context.global.get(\"collisionVehicle1\");\nvar text = vehicle1.customProps.answer;\nif (text == \"\")\n    text = \"<no response>\";\ntext = vehicle1.id +\": \" + text;\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle1.id,\n               \"text\": text,\n               \"duration\": 2000\n        })\n}\n\nreturn [ [addOverlayMsg] ];\n","outputs":1,"noerr":0,"x":1106.6668319702148,"y":756.7775726318359,"wires":[["50e27352.3e216c","aa0b853c.de6c38"]]},{"id":"c677f4fc.d555c8","type":"delay","z":"46a8fde6.ecb814","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":879.0615081787109,"y":1205.1724243164062,"wires":[["1f623fe4.bbc41","24bd7e2a.2823d2"]]},{"id":"94849156.3a316","type":"function","z":"46a8fde6.ecb814","name":"build vehicle2 health overlay","func":"var vehicle2 = context.global.get(\"collisionVehicle2\");\nvar text = vehicle2.customProps.answer;\nif (text == \"\")\n    text = \"<no response>\";\ntext = vehicle2.id +\": \" + text;\nvar addOverlayMsg2 = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle2.id,\n               \"text\": text,\n               \"duration\": 2000\n        })\n}\n\nreturn [ [addOverlayMsg2] ];\n","outputs":1,"noerr":0,"x":1111.1595649719238,"y":803.777512550354,"wires":[["a979af71.86121"]]},{"id":"a979af71.86121","type":"ibmiot out","z":"46a8fde6.ecb814","authentication":"apiKey","apiKey":"","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"vehicle2 health overlay","service":"registered","x":1386.492774963379,"y":803.7775945663452,"wires":[]},{"id":"aa0b853c.de6c38","type":"delay","z":"46a8fde6.ecb814","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":862.7107467651367,"y":803.4928455352783,"wires":[["94849156.3a316"]]},{"id":"9678d529.c7b0a8","type":"delay","z":"46a8fde6.ecb814","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":861.66650390625,"y":756.2962493896484,"wires":[["fdf429d6.f53248"]]},{"id":"5eec0039.b0d45","type":"debug","z":"46a8fde6.ecb814","name":"sentiment analysis output","active":false,"console":"false","complete":"payload","x":1013.7224884033203,"y":1035.578929901123,"wires":[]},{"id":"4b4500cc.4714e","type":"switch","z":"46a8fde6.ecb814","name":"vehicle1 health response","property":"payload.vehicle1.customProps.answer","propertyType":"msg","rules":[{"t":"neq","v":"\"\"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":172.8300018310547,"y":917.6251831054688,"wires":[["29c05139.cf33ee"],["408d66af.6bea38"]]},{"id":"29c05139.cf33ee","type":"switch","z":"46a8fde6.ecb814","name":"vehicle2 health response","property":"payload.vehicle2.customProps.answer","propertyType":"msg","rules":[{"t":"neq","v":"\"\"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":424.56248474121094,"y":910.222412109375,"wires":[["392161d6.0f295e"],["408d66af.6bea38"]]},{"id":"408d66af.6bea38","type":"function","z":"46a8fde6.ecb814","name":"set sentiment as negative","func":"context.global.set(\"sentiment\",\"negative\");\n\nreturn msg;","outputs":1,"noerr":0,"x":197.6112823486328,"y":1077.7048950195312,"wires":[["567b37f3.0f5ee8"]]},{"id":"7f52f006.22272","type":"comment","z":"46a8fde6.ecb814","name":"No response from at least one of the drivers","info":"","x":201.94801330566406,"y":992.5379638671875,"wires":[]},{"id":"3a2fc1bc.b2ff9e","type":"ibmiot out","z":"46a8fde6.ecb814","authentication":"apiKey","apiKey":"","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"health request overlay","service":"registered","x":1388.1596488952637,"y":714.0741109848022,"wires":[]},{"id":"b3ecb1a8.cbdf","type":"function","z":"46a8fde6.ecb814","name":"build health request overlay","func":"var vehicle1 = context.global.get(\"collisionVehicle1\");\nvar vehicle2 = context.global.get(\"collisionVehicle2\");\n\nvar healthRequest=vehicle1.customProps.question;\nvar text = \"To \" + vehicle1.id + \", \" + vehicle2.id + \": \" + healthRequest;\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle1.id,\n               \"text\": text,\n               \"duration\": 1500\n        })\n}\n\nreturn [ [addOverlayMsg] ];","outputs":1,"noerr":0,"x":1104.8260879516602,"y":714.0738658905029,"wires":[["3a2fc1bc.b2ff9e","9678d529.c7b0a8"]]},{"id":"e3e7f0ff.8c785","type":"delay","z":"46a8fde6.ecb814","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":871.492805480957,"y":714.8149242401123,"wires":[["b3ecb1a8.cbdf"]]},{"id":"c673eae7.02f738","type":"comment","z":"46a8fde6.ecb814","name":"Add overlays to vehicles to show health request and drivers' response","info":"","x":959.7338714599609,"y":687.1818237304688,"wires":[]},{"id":"3d1fcce7.8d26c4","type":"comment","z":"46a8fde6.ecb814","name":"Determine collision severity, and if medical assistance needed","info":"","x":264.04437255859375,"y":1161.1817016601562,"wires":[]},{"id":"82d670da.855bd","type":"comment","z":"46a8fde6.ecb814","name":"Set post-collision recovery time, get medical assistance","info":"","x":745.7166595458984,"y":1162.4214477539062,"wires":[]},{"id":"9da6bbcf.add788","type":"comment","z":"46a8fde6.ecb814","name":"Response received from both drivers: analyze sentiment","info":"","x":628.159912109375,"y":871.8148193359375,"wires":[]},{"id":"e26ed61.abd2b28","type":"debug","z":"46a8fde6.ecb814","name":"collision rules output","active":false,"console":"false","complete":"payload","x":449.4226531982422,"y":1260.2066040039062,"wires":[]},{"id":"bbd45591.130598","type":"debug","z":"46a8fde6.ecb814","name":"sentiment analysis URL","active":false,"console":"false","complete":"url","x":1008.4989738464355,"y":988.181812286377,"wires":[]}]