scenario1_flow
[{"id":"45e0186.96d4ce8","type":"ibmiot","z":"46a8fde6.ecb814","name":""},{"id":"df7f380a.8e78f8","type":"function","z":"46a8fde6.ecb814","name":"notify vehicle to reverse","func":"var commandValue = \"reverse\";\nvar setPropertyMsg = {\n        deviceId: context.global.deviceId,\n        deviceType: \"vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": context.global.vehicleId,\n               \"property\": commandValue,\n               \"value\": \"true\"\n        })\n}\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": context.global.vehicleId,\n               \"text\": commandValue,\n               \"duration\": 5000\n        })\n}\nreturn [ [setPropertyMsg, addOverlayMsg] ];\n","outputs":1,"noerr":0,"x":432.0354919433594,"y":491.7502746582031,"wires":[["dd2111e9.1d76f","6a0278af.743e48"]]},{"id":"578c0c7.182b7f4","type":"ibmiot out","z":"46a8fde6.ecb814","authentication":"apiKey","apiKey":"45e0186.96d4ce8","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"reverse command","service":"registered","x":825.5233459472656,"y":491.3216857910156,"wires":[]},{"id":"26bfb7ea.992768","type":"debug","z":"46a8fde6.ecb814","name":"traffic rules output","active":false,"console":"false","complete":"payload","x":399.4046325683594,"y":371.4525032043457,"wires":[]},{"id":"c2e5766c.a90708","type":"function","z":"46a8fde6.ecb814","name":"build Traffic rules input","func":"msg.payload = {};\nmsg.payload.trafficZone = context.global.get(\"trafficZone\");\nmsg.payload.precipitation = context.global.get(\"precipitation\");\n\nreturn msg;\n","outputs":1,"noerr":0,"x":156.4406280517578,"y":317.96435546875,"wires":[["c4e27bde.1e7cf8","cabf5f23.be923"]]},{"id":"a014d6f4.e467d8","type":"function","z":"46a8fde6.ecb814","name":"save traffic alert info","func":"context.global.set(\"trafficZone\",msg.payload.trafficZone);\nvar vehicleId = msg.payload.vehicleId;\ncontext.global.set(\"vehicleId\",vehicleId);\ncontext.global.set(\"deviceId\",vehicleId.split(\"-\")[0]);\nreturn msg;\n","outputs":1,"noerr":0,"x":267.02366638183594,"y":89.892822265625,"wires":[["d6d18bcc.596058"]]},{"id":"6a0278af.743e48","type":"debug","z":"46a8fde6.ecb814","name":"show reverse command","active":false,"console":"false","complete":"true","x":699.8092956542969,"y":543.7384338378906,"wires":[]},{"id":"86f2790c.a5f9f8","type":"switch","z":"46a8fde6.ecb814","name":"Entry","property":"payload.eventType","propertyType":"msg","rules":[{"t":"eq","v":"Entry","vt":"str"}],"checkall":"true","outputs":1,"x":156.72616577148438,"y":130.82147216796875,"wires":[["a014d6f4.e467d8"]]},{"id":"c4e27bde.1e7cf8","type":"debug","z":"46a8fde6.ecb814","name":"traffic rules input","active":false,"console":"false","complete":"payload","x":400.2142028808594,"y":316.9047431945801,"wires":[]},{"id":"b615113e.b34fa","type":"function","z":"46a8fde6.ecb814","name":"notify vehicle of speed limit","func":"var text = \"\";\nvar speedLimit = context.global.trafficZoneSpeedLimit;\n\nvar commands = [];\nif (speedLimit!=null){\n    var expectedSpeed = speedLimit;\n    var setPropertyMsg = {\n        deviceId: context.global.deviceId,\n        deviceType: \"vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": context.global.vehicleId,\n               \"property\": \"expectedSpeed\",\n               \"value\": expectedSpeed\n        })\n    }\n    text = \"speed \"+expectedSpeed;\n    commands.push(setPropertyMsg);\n}\nvar trafficDensity = context.global.trafficZoneDensity;\n\n//if (msg.payload.trafficZone.trafficDensity){\n//if (context.global.get(\"trafficZoneDensity\")){\nif (trafficDensity!=null){\n    //var trafficDensity = msg.payload.trafficZone.trafficDensity;\n    if (trafficDensity!=\"\"){\n        if (text != \"\")\n            text = text + \", \";\n//        text = text + msg.payload.trafficZone.trafficDensity + \" traffic\" ;\n        text = text + trafficDensity + \" traffic\" ;\n\n    }\n}\n\nvar warning = context.global.trafficZoneWarning;\n\n//if ( msg.payload.warning && msg.payload.warning!=\"\"){\nif ( warning && warning!=\"\"){\n    if (text != \"\")\n        text = text + \", \";\n//    text = text + msg.payload.warning;\n    text = text + warning;\n}\nif (text!=\"\"){\n    var addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": context.global.vehicleId,\n               \"text\": text,\n               \"duration\": 4000\n        })\n    }\n    commands.push(addOverlayMsg);\n}\n//return [ [setPropertyMsg, addOverlayMsg] ];\nreturn [ commands ];","outputs":1,"noerr":0,"x":442.8857116699219,"y":432.9991455078125,"wires":[["9e75c508.682428","4e8a015.fa0ca"]]},{"id":"4e8a015.fa0ca","type":"debug","z":"46a8fde6.ecb814","name":"show speed command","active":false,"console":"false","complete":"true","x":753.7917175292969,"y":379.6985168457031,"wires":[]},{"id":"9e75c508.682428","type":"ibmiot out","z":"46a8fde6.ecb814","authentication":"apiKey","apiKey":"45e0186.96d4ce8","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"speed command","service":"registered","x":731.4554748535156,"y":431.16276931762695,"wires":[]},{"id":"dd2111e9.1d76f","type":"delay","z":"46a8fde6.ecb814","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":648.4218444824219,"y":491.0054016113281,"wires":[["578c0c7.182b7f4"]]},{"id":"8b4b4573.5f77d8","type":"comment","z":"46a8fde6.ecb814","name":"Determine zone speed limit and traffic density (LOW, MEDIUM, HIGH)","info":"","x":400.7342834472656,"y":262.8838653564453,"wires":[]},{"id":"7f90c14e.db952","type":"http request","z":"46a8fde6.ecb814","name":"Insights weather","method":"GET","ret":"obj","url":"","x":656.7856750488281,"y":131.53562927246094,"wires":[["85607c6c.27f45","321f3900.35e3a8"]]},{"id":"321f3900.35e3a8","type":"function","z":"46a8fde6.ecb814","name":"save precipitation","func":"var precipitation = 0;\nif ( msg.payload.success == false || !msg.payload.status || msg.payload.status == \"ERROR\" )\n   precipitation = 0;\n\nelse if (msg.payload.observation){\n    if (msg.payload.observation.metric.precip_1hour)\n        precipitation = msg.payload.observation.metric.precip_1hour;\n}\ncontext.global.set(\"precipitation\",precipitation);\n\n// reset msg\ndelete msg;\nmsg = {};\nreturn msg;","outputs":1,"noerr":0,"x":663.4335021972656,"y":185.8029022216797,"wires":[["c2e5766c.a90708"]]},{"id":"85607c6c.27f45","type":"debug","z":"46a8fde6.ecb814","name":"precip_1hour","active":false,"console":"false","complete":"payload.observation.metric.precip_1hour","x":852.0733337402344,"y":132.59002685546875,"wires":[]},{"id":"d6d18bcc.596058","type":"function","z":"46a8fde6.ecb814","name":"build Insights weather URL","func":"//msg.url=\"insights_url/api/weather/v2/observations/current?units=m&geocode=45.42%2C75.69&language=en-US\";\n// Austin coordinates 30.2672° N, 97.7431\n//var coordinates = encodeURIComponent(\"30.2672,97.7431\");\n\nvar longitude = msg.payload.trafficZone.longitude;\nvar latitude = msg.payload.trafficZone.latitude;\n\nvar coordinates = encodeURIComponent(longitude + \",\" + latitude);\nvar insightsURL = \"insights_url/api/weather/v2/observations/current?units=m&language=en-US&geocode=\"+coordinates;\n\nmsg.url=insightsURL;\n\nreturn msg;","outputs":1,"noerr":0,"x":417.5286560058594,"y":131.7803955078125,"wires":[["7f90c14e.db952","870db024.90e19"]]},{"id":"870db024.90e19","type":"debug","z":"46a8fde6.ecb814","name":"Insights weather URL","active":false,"console":"false","complete":"url","x":675.4811096191406,"y":37.20761489868164,"wires":[]},{"id":"97952066.44514","type":"comment","z":"46a8fde6.ecb814","name":"Determine precipitation for the last hour for traffic zone","info":"","x":621.4600524902344,"y":94.36918640136719,"wires":[]},{"id":"cabf5f23.be923","type":"http request","z":"46a8fde6.ecb814","name":"Traffic rules","method":"POST","ret":"obj","url":"ruleset_url","x":165.71055603027344,"y":370.3310241699219,"wires":[["39e4892f.7f7e36","26bfb7ea.992768"]]},{"id":"303d1afa.5fa516","type":"switch","z":"46a8fde6.ecb814","name":"HIGH traffic density","property":"trafficZoneDensity","propertyType":"global","rules":[{"t":"eq","v":"HIGH","vt":"str"}],"checkall":"true","outputs":1,"x":174.1331329345703,"y":492.1899719238281,"wires":[["df7f380a.8e78f8"]]},{"id":"39e4892f.7f7e36","type":"function","z":"46a8fde6.ecb814","name":"save traffic rules output","func":"context.global.set(\"trafficZoneDensity\",msg.payload.trafficZone.trafficDensity);\ncontext.global.set(\"trafficZoneSpeedLimit\",msg.payload.trafficZone.speedLimit);\ncontext.global.set(\"trafficZoneWarning\",msg.payload.warning);\n\nreturn msg;","outputs":1,"noerr":0,"x":168.06822204589844,"y":432.1008605957031,"wires":[["b615113e.b34fa","303d1afa.5fa516"]]},{"id":"d08ac86.36b8138","type":"ibmiot in","z":"46a8fde6.ecb814","authentication":"apiKey","apiKey":"45e0186.96d4ce8","inputType":"cmd","deviceId":"","applicationId":"","deviceType":"","eventType":"trafficAlert","commandType":"trafficAlert","format":"json","name":"trafficAlert","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":"","x":93.78564071655273,"y":36.66665077209473,"wires":[["cecb0f03.f827","86f2790c.a5f9f8"]]},{"id":"cecb0f03.f827","type":"debug","z":"46a8fde6.ecb814","name":"trafficAlert payload","active":false,"console":"false","complete":"payload","x":324.78559494018555,"y":36.25000190734863,"wires":[]}]