bin/node-RED-flows/scenario1_flow.json
[{"id":"f8ee54a6.ace9d8","type":"ibmiot","z":"2ff2066b.0b4b6a","name":""},{"id":"a0af20bb.17a33","type":"function","z":"2ff2066b.0b4b6a","name":"notify vehicle to reverse","func":"var commandValue = \"reverse\";\nvar setPropertyMsg = {\n        deviceId: context.global.deviceId,\n        deviceType: \"vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": context.global.vehicleId,\n               \"property\": commandValue,\n               \"value\": \"true\"\n        })\n}\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": context.global.vehicleId,\n               \"text\": commandValue,\n               \"duration\": 5000\n        })\n}\nreturn [ [setPropertyMsg, addOverlayMsg] ];\n","outputs":1,"noerr":0,"x":891.2498455047607,"y":363.5001335144043,"wires":[["a83766bc.8402a8","ef18151c.20bd88"]]},{"id":"553de854.b93d38","type":"ibmiot out","z":"2ff2066b.0b4b6a","authentication":"apiKey","apiKey":"f8ee54a6.ace9d8","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"reverse command","service":"registered","x":1278.7376441955566,"y":364.07157611846924,"wires":[]},{"id":"1403090d.214507","type":"debug","z":"2ff2066b.0b4b6a","name":"traffic rules output","active":false,"console":"false","complete":"payload","x":401.61900901794434,"y":359.2025260925293,"wires":[]},{"id":"6e750365.0b75cc","type":"function","z":"2ff2066b.0b4b6a","name":"build Traffic rules input","func":"msg.payload = {};\nmsg.payload.trafficZone = context.global.get(\"trafficZone\");\nmsg.payload.precipitation = context.global.get(\"precipitation\");\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150.65498733520508,"y":304.7143669128418,"wires":[["3319b688.26cc4a","925c43ef.3c007"]]},{"id":"adf30520.585e98","type":"function","z":"2ff2066b.0b4b6a","name":"save traffic alert info","func":"context.global.set(\"trafficZone\",msg.payload.trafficZone);\nvar vehicleId = msg.payload.vehicleId;\ncontext.global.set(\"vehicleId\",vehicleId);\ncontext.global.set(\"deviceId\",vehicleId.split(\"-\")[0]);\nreturn msg;\n","outputs":1,"noerr":0,"x":292.2380561828613,"y":135.642822265625,"wires":[["fe71118b.09169"]]},{"id":"ef18151c.20bd88","type":"debug","z":"2ff2066b.0b4b6a","name":"show reverse command","active":false,"console":"false","complete":"true","x":1297.0236549377441,"y":406.4883556365967,"wires":[]},{"id":"919d4330.a3875","type":"switch","z":"2ff2066b.0b4b6a","name":"Entry","property":"payload.eventType","propertyType":"msg","rules":[{"t":"eq","v":"Entry","vt":"str"}],"checkall":"true","outputs":1,"x":102.94052505493164,"y":136.57147216796875,"wires":[["adf30520.585e98"]]},{"id":"3319b688.26cc4a","type":"debug","z":"2ff2066b.0b4b6a","name":"traffic rules input","active":false,"console":"false","complete":"payload","x":166.4285774230957,"y":356.654767036438,"wires":[]},{"id":"ef4b9834.cf33e8","type":"function","z":"2ff2066b.0b4b6a","name":"show density, notify vehicle of speed limit","func":"var text = \"\";\nvar speedLimit = context.global.trafficZoneSpeedLimit;\n\nvar commands = [];\nif (speedLimit!=null){\n    var expectedSpeed = speedLimit;\n    var setPropertyMsg = {\n        deviceId: context.global.deviceId,\n        deviceType: \"vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": context.global.vehicleId,\n               \"property\": \"expectedSpeed\",\n               \"value\": expectedSpeed\n        })\n    }\n    text = \"speed \"+expectedSpeed;\n    commands.push(setPropertyMsg);\n}\nvar trafficDensity = context.global.trafficZoneDensity;\n\nif (trafficDensity!=null){\n    if (trafficDensity!=\"\"){\n        if (text != \"\")\n            text = text + \", \";\n        text = text + trafficDensity + \" traffic\" ;\n\n    }\n}\n\nvar warning = context.global.trafficZoneWarning;\n\nif ( warning && warning!=\"\"){\n    if (text != \"\")\n        text = text + \", \";\n    text = text + warning;\n}\nif (text!=\"\"){\n    var addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": context.global.vehicleId,\n               \"text\": text,\n               \"duration\": 4000\n        })\n    }\n    commands.push(addOverlayMsg);\n}\nreturn [ commands ];","outputs":1,"noerr":0,"x":938.1000709533691,"y":304.74909591674805,"wires":[["687e0791.942d58","7927db6e.734ec4"]]},{"id":"7927db6e.734ec4","type":"debug","z":"2ff2066b.0b4b6a","name":"show speed command","active":false,"console":"false","complete":"true","x":1287.0059547424316,"y":259.4485263824463,"wires":[]},{"id":"687e0791.942d58","type":"ibmiot out","z":"2ff2066b.0b4b6a","authentication":"apiKey","apiKey":"f8ee54a6.ace9d8","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"speed command","service":"registered","x":1267.6697731018066,"y":303.91279220581055,"wires":[]},{"id":"a83766bc.8402a8","type":"delay","z":"2ff2066b.0b4b6a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1093.6362037658691,"y":363.7553834915161,"wires":[["553de854.b93d38"]]},{"id":"81cacc99.be8c3","type":"comment","z":"2ff2066b.0b4b6a","name":"Determine zone speed limit and traffic density (LOW, MEDIUM, HIGH)","info":"","x":448.9485664367676,"y":268.6338052749634,"wires":[]},{"id":"7b3ad16d.df0e8","type":"http request","z":"2ff2066b.0b4b6a","name":"Insights weather","method":"GET","ret":"obj","url":"","x":805.0000267028809,"y":135.28562831878662,"wires":[["5fd97806.5c7fb8","a506226b.03889"]]},{"id":"a506226b.03889","type":"function","z":"2ff2066b.0b4b6a","name":"save precipitation","func":"var precipitation = 0;\nif ( msg.payload.success == false || !msg.payload.status || msg.payload.status == \"ERROR\" )\n   precipitation = 0;\n\nelse if (msg.payload.observation){\n    if (msg.payload.observation.metric.precip_1hour)\n        precipitation = msg.payload.observation.metric.precip_1hour;\n}\ncontext.global.set(\"precipitation\",precipitation);\nreturn msg;","outputs":1,"noerr":0,"x":694.6479148864746,"y":178.5528964996338,"wires":[["5a56f2c6.34c66c"]]},{"id":"5fd97806.5c7fb8","type":"debug","z":"2ff2066b.0b4b6a","name":"precip_1hour","active":false,"console":"false","complete":"payload.observation.metric.precip_1hour","x":1002.2876892089844,"y":134.34002685546875,"wires":[]},{"id":"fe71118b.09169","type":"function","z":"2ff2066b.0b4b6a","name":"build Insights weather URL","func":"//msg.url=\"https://e3210c61-5bbf-4727-9db7-da46a92579a0:6JMfmTlef3@twcservice.mybluemix.net/api/weather/v2/observations/current?units=m&geocode=45.42%2C75.69&language=en-US\";\n// Austin coordinates 30.2672° N, 97.7431\n//var coordinates = encodeURIComponent(\"30.2672,97.7431\");\n\nvar longitude = msg.payload.trafficZone.longitude;\nvar latitude = msg.payload.trafficZone.latitude;\n\nvar coordinates = encodeURIComponent(longitude + \",\" + latitude);\nvar insightsURL = \"insights_url/api/weather/v2/observations/current?units=m&language=en-US&geocode=\"+coordinates;\n\nmsg.url=insightsURL;\n\nreturn msg;","outputs":1,"noerr":0,"x":552.7430648803711,"y":135.5303955078125,"wires":[["7b3ad16d.df0e8","93aee6f1.0e7838"]]},{"id":"93aee6f1.0e7838","type":"debug","z":"2ff2066b.0b4b6a","name":"Insights weather URL","active":false,"console":"false","complete":"url","x":828.6954650878906,"y":87.95761108398438,"wires":[]},{"id":"a1d59ff9.4f2c2","type":"comment","z":"2ff2066b.0b4b6a","name":"Determine precipitation for the last hour for traffic zone","info":"","x":469.6744270324707,"y":104.11918926239014,"wires":[]},{"id":"925c43ef.3c007","type":"http request","z":"2ff2066b.0b4b6a","name":"Traffic rules","method":"POST","ret":"obj","url":"ruleset_url","x":390.9250373840332,"y":306.0810356140137,"wires":[["47a42d37.167f24","1403090d.214507"]]},{"id":"f12945e3.539a28","type":"switch","z":"2ff2066b.0b4b6a","name":"HIGH traffic density","property":"trafficZoneDensity","propertyType":"global","rules":[{"t":"eq","v":"HIGH","vt":"str"}],"checkall":"true","outputs":1,"x":651.3475685119629,"y":363.9398612976074,"wires":[["a0af20bb.17a33"]]},{"id":"47a42d37.167f24","type":"function","z":"2ff2066b.0b4b6a","name":"save traffic rules output","func":"context.global.set(\"trafficZoneDensity\",msg.payload.trafficZone.trafficDensity);\ncontext.global.set(\"trafficZoneSpeedLimit\",msg.payload.trafficZone.speedLimit);\ncontext.global.set(\"trafficZoneWarning\",msg.payload.warning);\n\nreturn msg;","outputs":1,"noerr":0,"x":630.2826175689697,"y":305.85078048706055,"wires":[["ef4b9834.cf33e8","f12945e3.539a28"]]},{"id":"47d18150.6e7ba","type":"ibmiot in","z":"2ff2066b.0b4b6a","authentication":"apiKey","apiKey":"f8ee54a6.ace9d8","inputType":"cmd","deviceId":"","applicationId":"","deviceType":"","eventType":"trafficAlert","commandType":"trafficAlert","format":"json","name":"trafficAlert","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":"","x":65,"y":56.416648864746094,"wires":[["19050089.9b02ef","919d4330.a3875"]]},{"id":"19050089.9b02ef","type":"debug","z":"2ff2066b.0b4b6a","name":"trafficAlert payload","active":false,"console":"false","complete":"payload","x":295.9999542236328,"y":56,"wires":[]},{"id":"5a56f2c6.34c66c","type":"function","z":"2ff2066b.0b4b6a","name":"reset msg","func":"delete msg;\nmsg = {};\nreturn msg;","outputs":1,"noerr":0,"x":872.3340759277344,"y":178.63887977600098,"wires":[["6e750365.0b75cc"]]}]