bin/node-RED-flows/scenario2_flow.json
[{"id":"6cc7acba.013e44","type":"ibmiot","z":"2ff2066b.0b4b6a","name":""},{"id":"f8ee54a6.ace9d8","type":"ibmiot","z":"2ff2066b.0b4b6a","name":""},{"id":"11497e85.ea2011","type":"ibmiot in","z":"2ff2066b.0b4b6a","authentication":"apiKey","apiKey":"f8ee54a6.ace9d8","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"collisionAlert","commandType":"collisionAlert","format":"json","name":"collisionAlert","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":"","x":90.11715698242188,"y":453,"wires":[["54e4cf.94863b3","9cb24a7.f1cd5b8"]]},{"id":"54e4cf.94863b3","type":"debug","z":"2ff2066b.0b4b6a","name":"collisionAlert payload","active":false,"console":"false","complete":"payload","x":322.7240962982178,"y":453.07140159606934,"wires":[]},{"id":"ad595e99.e3086","type":"function","z":"2ff2066b.0b4b6a","name":"build post-collision command","func":"var collisionSeverity = msg.payload.collisionSeverity;\n\nvar collisionDelay = 35000;\nif (collisionSeverity == \"MEDIUM\"){\n    collisionDelay = 45000;\n} else if (collisionSeverity == \"SEVERE\"){\n    collisionDelay = 60000;\n}\n\nvar vehicle1 =  context.global.get(\"collisionVehicle1\");\nvar vehicle2 =  context.global.get(\"collisionVehicle2\");\n\nvar setPropertyForVehicle1Msg = {\n        deviceId: context.global.get(\"collisionDevice1Id\"),\n        deviceType: \"vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle1.id,\n               \"property\": \"collisionDelay\",\n               \"value\": collisionDelay\n        })\n}\n\nvar setPropertyForVehicle2Msg = {\n        deviceId: context.global.get(\"collisionDevice2Id\"),\n        deviceType: \"vehicle\",\n        eventOrCommandType: \"setProperty\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle2.id,\n               \"property\": \"collisionDelay\",\n               \"value\": collisionDelay\n        })\n}\n\nvar text = collisionSeverity + \" accident\";\nvar medicalAttentionNeeded = msg.payload.medicalAttentionNeeded;\nif (medicalAttentionNeeded == true){\n    text= text + \", call EMT\";\n}\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle1.id,\n               \"text\": text,\n               \"duration\": 3000\n        })\n}\n\nreturn [ [addOverlayMsg, setPropertyForVehicle1Msg, setPropertyForVehicle2Msg] ];\n","outputs":1,"noerr":0,"x":751.6106929779053,"y":965.4604692459106,"wires":[["163aaa0e.ec1c76","90074789.328da8"]]},{"id":"163aaa0e.ec1c76","type":"debug","z":"2ff2066b.0b4b6a","name":"post-collision command","active":false,"console":"false","complete":"true","x":1054.3977508544922,"y":1019.2939882278442,"wires":[]},{"id":"391f4897.395c38","type":"ibmiot out","z":"2ff2066b.0b4b6a","authentication":"apiKey","apiKey":"6cc7acba.013e44","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"post-collision command","service":"registered","x":1225.2178325653076,"y":965.8772540092468,"wires":[]},{"id":"2bf684e7.c521dc","type":"function","z":"2ff2066b.0b4b6a","name":"save collision vehicles info","func":"context.global.set(\"collisionVehicle1\",msg.payload.vehicle1);\ncontext.global.set(\"collisionDevice1Id\",msg.payload.vehicle1.id.split(\"-\")[0]);\n\n\ncontext.global.set(\"collisionVehicle2\",msg.payload.vehicle2);\ncontext.global.set(\"collisionDevice2Id\",msg.payload.vehicle2.id.split(\"-\")[0]);\n\n\ndelete msg.payload.eventType;\ncontext.global.set(\"rulesInputParameters\", msg.payload);\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420.67352867126465,"y":578.5237340927124,"wires":[[]]},{"id":"cd93e958.b70008","type":"function","z":"2ff2066b.0b4b6a","name":"build Collision rules input","func":"msg.payload = {};\nmsg.payload.healthSentiment=context.global.get(\"sentiment\");\nvar vehicle1 =  context.global.get(\"collisionVehicle1\");\nvar vehicle2 =  context.global.get(\"collisionVehicle2\");\nmsg.payload.vehicle1SpeedAtCollision = vehicle1.customProps.speedAtCollision;\nmsg.payload.vehicle2SpeedAtCollision = vehicle2.customProps.speedAtCollision;\nreturn msg;\n","outputs":1,"noerr":0,"x":206.33987426757812,"y":965.7736415863037,"wires":[["5cf0b49a.84b67c","50643bfe.df49c4"]]},{"id":"50643bfe.df49c4","type":"http request","z":"2ff2066b.0b4b6a","name":"Collision rules","method":"POST","ret":"obj","url":"ruleset_url","x":472.5900535583496,"y":965.7735395431519,"wires":[["ad595e99.e3086","d580d69e.e2af48"]]},{"id":"5cf0b49a.84b67c","type":"debug","z":"2ff2066b.0b4b6a","name":"collision rules input","active":false,"console":"false","complete":"payload","x":476.6596431732178,"y":1022.1268272399902,"wires":[]},{"id":"9cb24a7.f1cd5b8","type":"switch","z":"2ff2066b.0b4b6a","name":"Collision occurred","property":"payload.eventType","propertyType":"msg","rules":[{"t":"eq","v":"Collision occurred","vt":"str"}],"checkall":"true","outputs":1,"x":151.11115074157715,"y":536.0793361663818,"wires":[["2bf684e7.c521dc","fc8e42f6.e9482","1784612d.5b0b2f"]]},{"id":"7c43fa4b.53cfc4","type":"http request","z":"2ff2066b.0b4b6a","name":"Watson AlchemyAPI sentiment analysis","method":"POST","ret":"obj","url":"","x":753.647741317749,"y":783.968279838562,"wires":[["1a2082d7.2ce58d","2115ed13.80d362"]]},{"id":"1a2082d7.2ce58d","type":"function","z":"2ff2066b.0b4b6a","name":"save sentiment","func":"var sentiment = \"\";\nif (!msg.payload.status || msg.payload.status == \"ERROR\")\n   sentiment= \"neutral\";\nelse \n   sentiment = msg.payload.docSentiment.type;\ncontext.global.set(\"sentiment\",sentiment);\n\nreturn msg;","outputs":1,"noerr":0,"x":673.995038986206,"y":823.5480289459229,"wires":[["a617192a.5bb428"]]},{"id":"b82f63cd.3f89c","type":"function","z":"2ff2066b.0b4b6a","name":"build sentiment analysis URL","func":"var text1 = msg.payload.vehicle1.customProps.answer;\nvar text2 = msg.payload.vehicle2.customProps.answer;\nvar text = text1 + \". \"+ text2;\ntext = encodeURI(text);\nvar apikey = \"alchemy_api_key\";\nmsg.url=\"http://gateway-a.watsonplatform.net/calls/text/TextGetTextSentiment?apikey=\"+ apikey + \"&text=\"+ text+\"&outputMode=json&showSourceText=1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":719.3141994476318,"y":741.5792655944824,"wires":[["7c43fa4b.53cfc4","c67ecfee.6eeb5"]]},{"id":"c67ecfee.6eeb5","type":"debug","z":"2ff2066b.0b4b6a","name":"sentiment analysis URL","active":false,"console":"false","complete":"url","x":1078.8972034454346,"y":741.634991645813,"wires":[]},{"id":"a617192a.5bb428","type":"function","z":"2ff2066b.0b4b6a","name":"reset msg","func":"delete msg;\nmsg = {};\nreturn msg;","outputs":1,"noerr":0,"x":856.4774017333984,"y":823.1739444732666,"wires":[["cd93e958.b70008"]]},{"id":"e7d7773c.74c178","type":"ibmiot out","z":"2ff2066b.0b4b6a","authentication":"apiKey","apiKey":"6cc7acba.013e44","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"vehicle1 health overlay","service":"registered","x":1223.4375591278076,"y":580.8291826248169,"wires":[]},{"id":"5077edd4.465874","type":"function","z":"2ff2066b.0b4b6a","name":"build vehicle1 health overlay","func":"var vehicle1 = context.global.get(\"collisionVehicle1\");\nvar text = vehicle1.customProps.answer;\nif (text == \"\")\n    text = \"<no response>\";\ntext = vehicle1.id +\": \" + text;\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle1.id,\n               \"text\": text,\n               \"duration\": 2000\n        })\n}\n\nreturn [ [addOverlayMsg] ];\n","outputs":1,"noerr":0,"x":941.9446239471436,"y":577.4958267211914,"wires":[["e7d7773c.74c178","b88212bd.5fabe"]]},{"id":"90074789.328da8","type":"delay","z":"2ff2066b.0b4b6a","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010.3392181396484,"y":965.8898138999939,"wires":[["391f4897.395c38"]]},{"id":"296357bb.b11608","type":"function","z":"2ff2066b.0b4b6a","name":"build vehicle2 health overlay","func":"var vehicle2 = context.global.get(\"collisionVehicle2\");\nvar text = vehicle2.customProps.answer;\nif (text == \"\")\n    text = \"<no response>\";\ntext = vehicle2.id +\": \" + text;\nvar addOverlayMsg2 = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle2.id,\n               \"text\": text,\n               \"duration\": 2000\n        })\n}\n\nreturn [ [addOverlayMsg2] ];\n","outputs":1,"noerr":0,"x":946.4373569488525,"y":624.4957666397095,"wires":[["3a39077f.3570b8"]]},{"id":"3a39077f.3570b8","type":"ibmiot out","z":"2ff2066b.0b4b6a","authentication":"apiKey","apiKey":"6cc7acba.013e44","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"vehicle2 health overlay","service":"registered","x":1221.7705669403076,"y":624.4958486557007,"wires":[]},{"id":"b88212bd.5fabe","type":"delay","z":"2ff2066b.0b4b6a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":697.9885387420654,"y":624.2110996246338,"wires":[["296357bb.b11608"]]},{"id":"3e7bbd4e.2ec982","type":"delay","z":"2ff2066b.0b4b6a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":696.9442958831787,"y":577.0145034790039,"wires":[["5077edd4.465874"]]},{"id":"2115ed13.80d362","type":"debug","z":"2ff2066b.0b4b6a","name":"sentiment analysis output","active":false,"console":"false","complete":"payload","x":1080.0001697540283,"y":782.6304483413696,"wires":[]},{"id":"fc8e42f6.e9482","type":"switch","z":"2ff2066b.0b4b6a","name":"vehicle1 health response","property":"payload.vehicle1.customProps.answer","propertyType":"msg","rules":[{"t":"neq","v":"\"\"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":154.10771942138672,"y":754.3434038162231,"wires":[["59bc6899.94a398"],["efebd4f9.347238"]]},{"id":"59bc6899.94a398","type":"switch","z":"2ff2066b.0b4b6a","name":"vehicle2 health response","property":"payload.vehicle2.customProps.answer","propertyType":"msg","rules":[{"t":"neq","v":"\"\"","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":427.8402099609375,"y":746.9406633377075,"wires":[["b82f63cd.3f89c"],["efebd4f9.347238"]]},{"id":"efebd4f9.347238","type":"function","z":"2ff2066b.0b4b6a","name":"set sentiment as negative","func":"context.global.set(\"sentiment\",\"negative\");\n\nreturn msg;","outputs":1,"noerr":0,"x":181.88900756835938,"y":876.4229688644409,"wires":[["cd93e958.b70008"]]},{"id":"4d4db35f.18f8bc","type":"comment","z":"2ff2066b.0b4b6a","name":"No response from at least one of the drivers","info":"","x":212.22572326660156,"y":832.2561979293823,"wires":[]},{"id":"89f66fee.e6559","type":"ibmiot out","z":"2ff2066b.0b4b6a","authentication":"apiKey","apiKey":"6cc7acba.013e44","outputType":"cmd","deviceId":"override","deviceType":"override","eventCommandType":"override","format":"json","data":"override","name":"health request overlay","service":"registered","x":1223.4374408721924,"y":534.7923650741577,"wires":[]},{"id":"a7722b57.73fdf8","type":"function","z":"2ff2066b.0b4b6a","name":"build health request overlay","func":"var vehicle1 = context.global.get(\"collisionVehicle1\");\nvar vehicle2 = context.global.get(\"collisionVehicle2\");\n\nvar healthRequest=vehicle1.customProps.question;\nvar text = \"To \" + vehicle1.id + \", \" + vehicle2.id + \": \" + healthRequest;\nvar addOverlayMsg = {\n        deviceId: \"tester\",\n        deviceType: \"api\",\n        eventOrCommandType: \"addOverlay\",\n        format: \"json\",\n        payload: JSON.stringify({\n               \"id\": vehicle1.id,\n               \"text\": text,\n               \"duration\": 1500\n        })\n}\n\nreturn [ [addOverlayMsg] ];","outputs":1,"noerr":0,"x":940.1038799285889,"y":534.7921199798584,"wires":[["89f66fee.e6559","3e7bbd4e.2ec982"]]},{"id":"1784612d.5b0b2f","type":"delay","z":"2ff2066b.0b4b6a","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":706.7705974578857,"y":535.5331783294678,"wires":[["a7722b57.73fdf8"]]},{"id":"3d0e0939.bed4b6","type":"comment","z":"2ff2066b.0b4b6a","name":"Add overlays to vehicles to show health request and drivers' response","info":"","x":795.0116634368896,"y":507.9000778198242,"wires":[]},{"id":"7db95489.bc7bbc","type":"comment","z":"2ff2066b.0b4b6a","name":"Analyze sentiment of drivers' health response","info":"","x":175,"y":712.894305229187,"wires":[]},{"id":"9de04199.9f2a9","type":"comment","z":"2ff2066b.0b4b6a","name":"Determine collision severity, and if medical assistance needed","info":"","x":253.3220500946045,"y":922.8999252319336,"wires":[]},{"id":"5d3e1972.871888","type":"comment","z":"2ff2066b.0b4b6a","name":"Set post-collision recovery time, get medical assistance","info":"","x":779.9944400787354,"y":935.1396360397339,"wires":[]},{"id":"eebd7779.7f9918","type":"comment","z":"2ff2066b.0b4b6a","name":"Response received from both drivers: analyze sentiment","info":"","x":763.4376201629639,"y":700.5330896377563,"wires":[]},{"id":"d580d69e.e2af48","type":"debug","z":"2ff2066b.0b4b6a","name":"collision rules output","active":false,"console":"false","complete":"payload","x":733.7003917694092,"y":1019.9246616363525,"wires":[]}]